extends ../includes/layout.jade

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/') first mean app
          h6 test
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='/') home
  section.content
    div(ng-view)
  h2= mongoMessage
  hr
  footer.container.text-center
    p &copy; 2015
